.header {
    min-width: 100%;
    align-items: center;
    position: relative;
    gap: 20px;
    /* position: fixed; */
    z-index: 1000;
    background-color: green;

}

.headerLeft{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 20px;
    padding: 5px;
}
a{
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: darkblue;
}